.auth-container {
    min-height: 100vh;
}

.auth-paper {
    padding: 50px;
}

.auth-button {
    width: 100%;
    height: 80%;
    margin-top: 30px !important;
}

.auth-textfield {
    margin-top: 20px !important;
}

.auth-title {
    color:#3f51b5;
}

.auth-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-avatar {
    font-size: 120px !important;
}

.auth-password-visability {
    cursor: pointer;
}