.password-container {
    min-height: 100vh;
}

.password-paper {
    padding: 50px;
}

.password-buttons {
    display: flex;
    justify-content: space-between !important;
    width: 100%;
    margin-top: 20px;
    margin-left: 10px;
}

.password-textfield {
    margin-top: 20px !important;
}

.password-title {
    color:#3f51b5;
}

.password-header {
    width: 100%;
    display: flex;
    justify-content: center;
}


