.invisibleFacilities-container {
    margin-top: 15px !important;
}

.invisibleFacilities-table {
    background-color: #eeeeee !important;
}

.invisibleFacilities-saveBtn {
    background-color: lightgreen !important;
}