.map-filter-control {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    width: 100%;
}

.map-filter-paper {
    position: absolute;
    margin-right: 20px;
    padding: 10px;
    z-index: 998;
    max-width: 175px;
}

.map-filter-title-div {
    display: flex;
    justify-content: center;
    width: 100%;
}

.map-filter-item {
    display: flex;
    align-items: center;
    margin-bottom: -10px;
}

.map-filter-divider {
    margin-top: 7px !important;
}

.map-filter-accordion-details {
    display: flex;
    flex-direction: column;
    margin-top: -30px;
}