.map-filter-control {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    width: 100%;
}

.map-filter-paper {
    position: absolute;
    margin-right: 20px;
    padding: 10px;
    z-index: 998;
    max-width: 195px;
}

.map-filter-side-menu {
    margin-left: -170px;
}

.map-filter-hamburger-menu {
    position: absolute;
    margin-right: 20px;
    padding: 10px;
    z-index: 500;
    display: none;
}

.map-filter-side-menu-btn {
    width: 100%;
}

.map-filter-title-div {
    display: flex;
    justify-content: center;
    width: 100%;
}

.map-filter-item {
    display: flex;
    align-items: center;
    margin-bottom: -5px;
}

.map-filter-divider {
    margin-top: 7px !important;
}

.map-filter-accordion-details {
    display: flex;
    flex-direction: column;
    margin-top: -30px;
}

.filter-control-item {
    margin-left: auto !important;
    margin-right: 0 !important;
}

.filter-control-icon {
    margin-right: 5px;
}

@media (max-width: 1000px) {
    .map-filter-paper {
        display: none;
    }
    .map-filter-hamburger-menu {
        display: flex;
    }
}