.popup-title-div {
    background-color: deepskyblue;
    padding-right: 15px;
    padding-left: 15px;
    margin: 10px;
}

.popup-title-text {
   color: white;
}

.popup-info {
    margin-left: 15px !important;
}

.popup-icon-button {
    width: 80px;
    height: 80px;
    margin-top: -10px !important;
}

.popup-icon {
    width: 65%;
    height: 65%;  
}

.popup-button {
    background-color: lightgreen !important;
}

.popup-button-div {
    display: flex;
    justify-content: center;
}