.edit-div {
    display: flex;
    justify-content: center;     
}

.edit-title {
    margin-top: 3vh !important;
}

.edit-paper {
    margin-top: 2vh !important;
    background-color:#f7f7f7 !important;
    padding: 1vw;
    max-width: 700px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.edit-button {
    margin-top: 2vh !important;
}

.edit-goBack-button {
    margin-right: 10vw !important;
    
}
