.admin-facilities-menu-title {
    margin-bottom: 20px !important;
}

.admin-facilities-menu-appbar {
    margin-bottom: 40px;
}

.admin-facilities-menu-paper {
    padding-bottom: 30px;
    min-width: 50vw;
}

.admin-facilities-menu-btn {
    margin-top: 7px !important;
}

.admin-facilities-return-btn {
    margin-top: 40px !important;
}