.chart-legend {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
    padding: 25px;
}

.chart-legend-paper {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

.chart-legend-item {
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.chart-legend-checkbox {
    cursor: pointer;
}