.chart-legend {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
    padding: 25px;
}

.chart-legend-paper {
    padding: 0 20px 20px 20px;
    width: 100%;
    background-color:#EBF5FB !important;
}

.chart-legend-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 20px;
    width: 100%;
}

.chart-legend-form {
    width: 35%;
    padding: 30px;
}

.chart-legend-select {
    width: 300px;
}

.chart-legend-add-btn {
    margin-left: 20px !important;
}

.chart-legend-return-btn {
    right: 20px !important;
}



